@import '../styles/Settings/all.scss';
@import '../styles/Tools/all.scss';

.dashboard_grid {
  @include media-bp-min(tablet, 'orientation: landscape') {
    align-items: stretch;
    display: grid;
    grid-gap: $grid-gutter/2;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20rem 20rem auto;
    grid-template-areas:
      'speed speed speed throttle throttle throttle'
      'wind wind gravity gravity map map'
      'graphs graphs graphs graphs graphs graphs';
    height: 100%;
    padding: $grid-gutter/2;
  }
  > section {
    background-color: rgb(245, 245, 245);
  }
  .speed {
    grid-area: speed;
  }
  .throttle {
    grid-area: throttle;
  }
  .wind {
    grid-area: wind;
  }
  .gravity {
    grid-area: gravity;
  }
  .map {
    grid-area: map;
  }
  .graphs {
    grid-area: graphs;
    height: 100%;
  }
}
