@import '../styles/Settings/all.scss';
@import '../styles/Tools/all.scss';

.dashboard_grid {
  @include media-bp-min(tablet, 'orientation: landscape') {
    align-items: stretch;
    display: grid;
    grid-gap: $grid-gutter/2;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20rem 20rem auto;
    grid-template-areas:
      'speed speed speed map map map'
      'throttle throttle wind wind trim trim'
      'graphs graphs graphs graphs graphs graphs';
    height: 100%;
    padding: $grid-gutter/2;
  }
  > section {
    background-color: rgb(245, 245, 245);
    padding: $grid-gutter;
    text-align: center;

    h1 {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 0.0625rem;
    }
  }

  .graphs {
    grid-area: graphs;
    height: 100%;
  }
}
