.throttle {
  grid-area: throttle;
  .engines {
    display: flex;
    justify-content: center;
  }

  // input[type='range'] {
  //   -webkit-appearance: none; /* Override default CSS styles */
  //   appearance: none;
  //   width: 100%; /* Full-width */
  //   height: 25px; /* Specified height */
  //   background: #d3d3d3; /* Grey background */
  //   outline: none; /* Remove outline */
  //   opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  //   -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  //   transition: opacity 0.2s;
  //   transform: rotate(-90deg);
  //   transform-origin: right;
  //   &:hover {
  //     opacity: 1; /* Fully shown on mouse-over */
  //   }

  //   @mixin track() {
  //     /* common styles */
  //   }

  //   input {
  //     &::-webkit-slider-runnable-track {
  //       @include track;
  //     }
  //     &::-moz-range-track {
  //       @include track;
  //     }
  //     &::-ms-track {
  //       @include track;
  //     }
  //   }

  //   &::-webkit-slider-thumb {
  //     -webkit-appearance: none; /* Override default look */
  //     appearance: none;
  //     width: 25px; /* Set a specific slider handle width */
  //     height: 25px; /* Slider handle height */
  //     background: #444; /* Green background */
  //     cursor: pointer; /* Cursor on hover */
  //   }

  //   &::-moz-range-thumb {
  //     width: 25px; /* Set a specific slider handle width */
  //     height: 25px; /* Slider handle height */
  //     background: #4caf50; /* Green background */
  //     cursor: pointer; /* Cursor on hover */
  //   }
  // }

  $track-w: 100%;
  $track-h: 0.5rem;
  $thumb-d: 2rem;

  @mixin track() {
    box-sizing: border-box;
    border: none;
    width: $track-w;
    height: $track-h;
    background: #aaa;
    border-radius: 0.25rem;
  }

  @mixin thumb() {
    box-sizing: border-box;
    border: none;
    width: $thumb-d/2;
    height: $thumb-d;
    border-radius: 0.3125rem;
    background: #004366;
  }

  [type='range'] {
    &,
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    margin: $track-w/2 0;
    transform: rotate(-90deg);
    outline: none;
    padding: 0;
    width: $track-w;
    height: $thumb-d;
    background: transparent;
    font: 1em/1 arial, sans-serif;

    &::-webkit-slider-runnable-track {
      @include track;
    }
    &::-moz-range-track {
      @include track;
    }
    &::-ms-track {
      @include track;
    }

    &::-webkit-slider-thumb {
      margin-top: -0.75rem;
      @include thumb;
    }
    &::-moz-range-thumb {
      @include thumb;
    }
    &::-ms-thumb {
      margin-top: 0;
      @include thumb;
    }

    &::-ms-tooltip {
      display: none;
    }
  }
}
