<template>
  <require from="./wind.scss"></require>
  <section class="wind">
    <h1>
      Wind
    </h1>
    <div class="content">
      <div class="text">
        <h2>${weatherHub.wind_speed}</h2>
        <em>m/s</em>
      </div>
      <div class="circle">
        <div class="angle_0">0</div>
        <div class="angle_90">90</div>
        <div class="angle_180">180</div>
        <div class="angle_270">270</div>
        <div class="vessel"></div>
        <div class="wind-arrow" style="transform:rotate(${weatherHub.wind_direction}deg)"></div>
      </div>
    </div>

  </section>

</template>
