.trim {
  grid-area: trim;
  figure {
    position: relative;
    .vessel {
      position: relative;
      z-index: 10;
    }
    .waves {
      position: absolute;
      z-index: 20;
      left: 0;
      bottom: 0;
    }
  }
}
