@import '../../../styles/Settings/all';
@keyframes moving_waves {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(1.125rem);
    }
    100% {
        transform: translateX(0.0625rem);
    }
}
@keyframes dipping_ship {
    0% {
        transform: translate(0, 0) rotate(0);
    }
    20% {
        transform: translate(0, 0.1rem) rotate(0.2deg);
    }
    40% {
        transform: translate(0, -0.2rem) rotate(-0.1deg);
    }
    60% {
        transform: translate(0, 0.1rem) rotate(0.1deg);
    }
    80% {
        transform: translate(0, -0.1rem) rotate(-0.2deg);
    }
    100% {
        transform: translate(0, 0) rotate(0);
    }
}
.trim {
    grid-area: trim;
    figure {
        display: block;
        overflow: hidden;
        position: relative;
        max-width: 31.25rem;
        margin: 0 auto;

        .vessel-wrapper {
            animation: dipping_ship 4s infinite;
            position: relative;
            z-index: 10;
            .vessel {
                transition: transform 0.2s;
            }
        }
        .waves {
            animation: moving_waves 4s infinite;
            position: absolute;
            z-index: 20;
            left: -1.125rem;
            top: 0;
            max-width: 31.875rem;
            width: calc(100% + 36px);
        }
        .alert_message {
            color: $color-brand-orange;
            font-size: 1rem;
            position: absolute;
            left: 50%;
            letter-spacing: 0.0625rem;
            text-transform: uppercase;
            top: 1rem;
            transform: translateX(-50%);
            z-index: 30;
        }
    }
}
