@import '../../../styles/Settings/all.scss';
@import '../../../styles/Tools/all.scss';
.app_header {
  position: relative;
  .content-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    figure {
      width: 13rem;
    }
  }
}
